<mat-card fxFlex fxFlexAlign="center" class="bottom-toolbar">
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title class="card-bottom-title">ABOUT ADMIN</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    class="card-bottom-image"
    src="https://firebasestorage.googleapis.com/v0/b/benion-database.appspot.com/o/Others%2Fbenion-tech-fb-banner_1594856905421?alt=media&token=8c7f4f18-6e47-4a98-a021-018ae1394a3b"
  />
  <mat-card-content>
    <div fxFlex fxFlexAlign="center">
        <div>
            <h2 class="about-me">About Me</h2>
            <h3>
                I am a Born Nigerian who is so much in love with technological discoveries. I spend most of my time making researchs and studying with the use of the internet. I also dedicate 
                quality of times to coding. As a Programming/Developer, i do constantly practice and think of new ideas so as to improve my skills in writing
                clean and simple codes, which is almost free from bugs. Programming is my passion, so i take every bit of it with all seriousness....
            </h3>
            <hr>
    
            <h2 class="about-me">My Bio</h2>
            <h3>
                My names are Bernard, Benedict, Bemdoo, Bemshima Iorver. I was given birth on the 14th of october 1996 into the family of Iorver Mough.
                I am a gift of a first born male child to Mr Mathias Terlumun Mough and Mrs Winifred Angbiandoo Upurugh.
                <br><br> 
                I am immediately followed by my lovely siblings: Faith Mimidoo Iorver, Fatima Kwaghdoo Iorver, Hilary Terseer Iorver, Cletus Terkuma Iorver.
                Growing as a kid i was meant to believe that education was the key to success only for me to discover that the key to success are actually determination, endurance, hard work, creativity and pressure resistance.
                <br><br>
                God has blessed me with wonderful brother-like friends, with them around me there is never a problem without a solution, although we argue a lot before finalizing the solution to the problems: Joseph Azubuike (azubobo), Kingsley Eguta (kingatoml), Victor Nwabudike (lord vin), Joshua Ayobami (joeblaze), Joseph Odume (jomec), Jacob Wayo (jboy), Aloysius Idoko (rino), Isaac Onismus (isaaccater).
                <br><br>
                And also I have some amazing female friends who has been with me to endure all my short comings and I feel comfortable around them: Mary Agbaji (miss abosh), Florence Ogwuche (flora), Blessing Linus (bleyoyo), Mary Adebayo (damilola).
                <br><br>
                I also want to thank God for the wonderful cousins he gave to me: Elijah Aondowase Agaku, Franca Msendoo Agaku, Sewese Agaku, Susan Semember Agaku, Dorcas Dooshima Agaku, Agnes Avadoo Agaku. 
                <br><br>
                I am social, jovial, crazy and annoying all at the same time. And sometimes exhibit the opposite in places not conducive for me. I welcome intelligence, hard work, smartness and creativity.
                I turn blind eyes to pride, arrogance and dumb attitudes.
                I must confess i can so flirt a lot, but I always remember my boundaries.
            </h3>
            <hr>
            <br><br><br><br><br><br><br><br>
        </div>
      <h1 class="about-me">CONTACT US</h1> 
      <br><br>
      <h2 class="about-me">
        You Can Call & Text Admin on +2348175619445 Or +2348168766556
      </h2>
      <h3 class="about-me">
        You Can Reach Admin on bernard.iorver28@gmail.com And bernard.benion.iorver@hotmail.com
      </h3>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div>
      <mat-action-list>
        <mat-list-item>
          <a href="https://facebook.com/biorver.7"
            ><mat-icon matListIcon color="accent">person_add</mat-icon></a
          >
          <h6 matLine>Add Admin On Facebook</h6>
        </mat-list-item>
        <mat-list-item>
          <a href="https://twitter.com/benion28"
            ><mat-icon matListIcon color="accent">verified_user</mat-icon></a
          >
          <h6 matLine>Follow Admin On Twitter</h6>
        </mat-list-item>
        <mat-list-item>
          <a href="https://instagram.com/benion28"
            ><mat-icon matListIcon color="accent">stars</mat-icon></a
          >
          <h6 matLine>Follow Admin On Instagram</h6>
        </mat-list-item>
        <mat-list-item>
          <a href="https://facebook.com/benion4life"
            ><mat-icon matListIcon color="accent">thumb_up_alt</mat-icon></a
          >
          <h6 matLine>Like Our Facebook Page</h6>
        </mat-list-item>
      </mat-action-list>
    </div>
  </mat-card-actions>
</mat-card>
