<button
  mat-icon-button
  color="accent"
  class="mat-button"
  matTooltip="Admin Home"
  matTooltipClass="example-tooltip"
  routerLink="/benion-admin"
>
  <mat-icon>admim_panel_settings</mat-icon>
</button>

<mat-tab-group>
  <mat-tab label="Login Users">
      <div class="search-div">
            <button mat-raised-button (click)="onUserCreate()">
                <mat-icon matTooltip="Create New Log In User" matTooltipClass="example-tooltip">person_add</mat-icon>
            </button>
          <mat-form-field class="search-form-field" floatLabel="never">
              <input matInput [(ngModel)]="loginSearchKey" placeholder="Search For Data" autocomplete="off" (keyup)="applyLoginFilter()">
              <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="loginSearchKey" (click)="onLoginSearchClear()">
                  <mat-icon>close</mat-icon>
              </button> 
          </mat-form-field>
          <div class="select-actions">
              <button mat-button color="accent">DELETE</button>
              <button mat-button color="accent">SEND</button>
              <button mat-button color="accent" (click)="onLoginSort()">SORT</button>
          </div>
      </div>
      
      <div class="mat-elevation-z8">
          <mat-table [dataSource]="listDataLogin" matSort multiTemplateDataRows>
              <ng-container matColumnDef="_id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>#ID</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element._id }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="firstname">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.firstname }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="lastname">
                  <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.lastname }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="username">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>User Name</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.username }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef>Email Address</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="city">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.city }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button mat-icon-button matTooltip="Edit" matTooltipClass="example-tooltip" (click)="onUserEdit(row)"><mat-icon>create</mat-icon></button>
                    <button mat-icon-button color="warn" matTooltip="Delete" matTooltipClass="example-tooltip" (click)="onDeleteLoginUser(row)"><mat-icon>delete_outline</mat-icon></button>
                  </mat-cell>
              </ng-container>
              <ng-container matColumnDef="loading-bar">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                  </mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="loading">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                      Please Wait, Data Is Loading......
                  </mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="noData">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                      Currently There Is No Data......
                  </mat-footer-cell>
              </ng-container>
          <ng-container matColumnDef="totalLoginUsers">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                      Total Log In Users Are {{ usersService.totalLoginUsers }}
                  </mat-footer-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              <mat-footer-row *matFooterRowDef="['loading-bar']" [ngClass]="{ 'hide':listDataLogin!=null }"></mat-footer-row>
              <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{ 'hide':listDataLogin!=null }"></mat-footer-row>
              <mat-footer-row *matFooterRowDef="[ 'noData' ]" [ngClass]="{ 'hide':!(listDataLogin!=null && listDataLogin.data.length===0) }"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['totalLoginUsers']" [ngClass]="{ 'hide':listDataLogin==null }"></mat-footer-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 50, 75, 100]" [pageSize]="20" showFirstLastButtons></mat-paginator>
      </div>
  </mat-tab>
  <mat-tab label="Admin Users">
      <div class="search-div">
            <button mat-raised-button (click)="onAdminCreate()">
                <mat-icon matTooltip="Create New Admin" matTooltipClass="example-tooltip">person_add</mat-icon>
            </button>
          <mat-form-field class="search-form-field" floatLabel="never">
              <input matInput [(ngModel)]="adminSearchKey" placeholder="Search For Data" autocomplete="off" (keyup)="applyAdminFilter()">
              <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="adminSearchKey" (click)="onAdminSearchClear()">
                  <mat-icon>close</mat-icon>
              </button> 
          </mat-form-field>
          <div class="select-actions">
              <button mat-button color="accent">DELETE</button>
              <button mat-button color="accent">SEND</button>
              <button mat-button color="accent" (click)="onAdminSort()">SORT</button>
          </div>
      </div>
      
      <div class="mat-elevation-z8">
          <mat-table [dataSource]="listDataAdmin" matSort multiTemplateDataRows>
              <ng-container matColumnDef="_id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>#ID</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element._id }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="firstname">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>First Name</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.firstname }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="lastname">
                  <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.lastname }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="username">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>User Name</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.username }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="email">
                  <mat-header-cell *matHeaderCellDef>Email Address</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="city">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
                  <mat-cell *matCellDef="let element">{{ element.city }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let row">
                    <button mat-icon-button matTooltip="Edit" matTooltipClass="example-tooltip" (click)="onAdminEdit(row)"><mat-icon>create</mat-icon></button>
                    <button mat-icon-button color="warn" matTooltip="Delete" matTooltipClass="example-tooltip" (click)="onDeleteAdminUser(row)"><mat-icon>delete_outline</mat-icon></button>
                  </mat-cell>
              </ng-container>
              <ng-container matColumnDef="loading-bar">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                  </mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="loading">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                      Please Wait, Data Is Loading......
                  </mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="noData">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                      Currently There Is No Data......
                  </mat-footer-cell>
              </ng-container>
          <ng-container matColumnDef="totalAdminUsers">
                  <mat-footer-cell *matFooterCellDef colspan="6">
                      Total Admin Users Are {{ usersService.totalAdminUsers }}
                  </mat-footer-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              <mat-footer-row *matFooterRowDef="['loading-bar']" [ngClass]="{ 'hide':listDataAdmin!=null }"></mat-footer-row>
              <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{ 'hide':listDataAdmin!=null }"></mat-footer-row>
              <mat-footer-row *matFooterRowDef="[ 'noData' ]" [ngClass]="{ 'hide':!(listDataAdmin!=null && listDataAdmin.data.length===0) }"></mat-footer-row>
          <mat-footer-row *matFooterRowDef="['totalAdminUsers']" [ngClass]="{ 'hide':listDataLogin==null }"></mat-footer-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[ 5, 10, 25, 50, 75, 100]" [pageSize]="20" showFirstLastButtons></mat-paginator>
      </div>
  </mat-tab>
</mat-tab-group>
