.work-image {
  width: 600px;
  height: 400px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

mat-card {
  margin-top: 15px;
  margin-bottom: 30px;
}

.work-image mat-card img {
  width: 95%;
  height: 60%;
  border: 5pt solid #5c0a5c;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}