.normal-form {
    margin: 10px;
}

.normal-form .controllers-container {
    width: 100%;
    padding: 5%;
}

.normal-form .controllers-container > * {
    width: 100%;
}

.normal-form .add-bottom-padding {
    padding-bottom: 10px;
}

mat-radio-group mat-radio-button {
    margin-left: 5px;
}

.button-row button {
    margin: 5px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.button-dialog-close {
    width: 45px;
    min-width: 0px !important;
    height: 40px;
    padding: 0px !important;
}
